

@font-face {
  font-family: "ProximaNova-Black";
  src: url("https://cdn.jsdelivr.net/gh/AirlinesReportingCorporation/tc2020@1.0.0/fonts/ProximaNova-Black.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("https://cdn.jsdelivr.net/gh/AirlinesReportingCorporation/tc2020@1.0.0/fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("https://cdn.jsdelivr.net/gh/AirlinesReportingCorporation/tc2020@1.0.0/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("https://cdn.jsdelivr.net/gh/AirlinesReportingCorporation/tc2020@1.0.0/fonts/ProximaNova-Light.otf") format("opentype");
}