@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap");

.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.jumbotron,
.navcontainer,
.sg-header,
.sg-progress-bar {
  display: none !important;
}

