@import "fonts";
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap");

body a {
  color: #ffffff;
}

.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.jumbotron,
.navcontainer,
.sg-header,
.sg-progress-bar {
  display: none !important;
}

.tc2020-dot {
  position: absolute;
  background: #000000;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 20s;
  z-index: 50;
}

body .tc2020-recap a,
body .tc2020-full-boni-simi a {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  &:hover {
    color: #00dfce;
  }
}

body .tc2020-assistance a {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  color: #00dfce;
  &:hover {
    color: #00dfce;
  }
}

.tc2020-dot-cyan {
  background: #00dfce;
}

.tc2020-dot-yellow {
  background: #ffa619;
}

.tc2020-dot.tc-2020-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
  background: transparent;
  border-radius: 0px;

  .inner-triangle {
    position: relative;
    top: -20px;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
  }
}

.tc2020-nav {
  max-width: 960px;
  margin: 1rem auto;
  border-bottom: 1px solid #000000;
  a {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1rem;
    padding: 10px;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:hover {
      color: #000000;
    }

    &:hover:after {
      position: absolute;
      height: 4px;
      content: "";
      background: #ffa619;
      top: 120%;
      width: 100%;
      left: 0;
    }
  }
}

.tc2020-header {
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(187, 187, 187, 0.8029586834733894) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.tc2020-header-image {
  max-width: 700px;
  margin: 40px auto;
  z-index: 51;
}

.tc2020-header-date {
  color: #ffffff;
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 4rem;
}

.tc2020-recap {
  color: #ffffff;
  background: #000000;
  padding: 4rem 0;
}

.tc-2020-recap-title {
  max-width: 600px;
  margin: 0 auto;
}

.tc2020-recap-section {
  max-width: 750px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.tc2020-recap-image-top {
  position: relative;
  height: 450px;
  z-index: 5;
}

.tc2020-author {
  z-index: 5;
}

.tc2020-amy-webb {
  max-width: 80%;
}

.tc2020-dave-harvey {
  max-width: 80%;
  .tc2020-recap-img-title {
    max-width: 400px;
  }
}

.tc2020-bonny-simi {
  color: #ffffff;
  height: 600px;
  .tc2020-recap-img-title {
    max-width: 350px;
    left: 0;
    top: 0;
  }
  .tc2020-recap-body {
  }
}

.tc2020-recap-img-title {
  position: absolute;
  max-width: 500px;
  top: 25%;
  left: 50%;
}

.tc2020-social {
  background: #000000;
  color: #ffffff;

  &.tcContainer .tcSocial a.icon-social {
    color: #ffffff;
    &:hover {
      color: #00dfce;
    }
  }

  &.tcContainer .tcSocial .social-subtitle {
    color: #ffffff;
  }

  &.tcContainer .tcSocial {
    .hashtag,
    .hashtag:hover {
      font-family: "TheHand-Extra-Black", Arial, Helvetica, sans-serif;
      color: #ffffff;
      letter-spacing: 7px;
      font-size: 5rem;
      cursor: default;
    }
  }
}

.tc2020-full-recap {
  background: #000000 center bottom no-repeat;
  text-align: center;
  min-height: 120px;
  background-size: auto;
  background-size: 400px 100px;
  position: relative;

  .ctaBtn,
  .ctaBtn:hover {
    background: #1f43f5;
    border-color: #ffffff;
    border-radius: 0;
    position: relative;
    z-index: 4;
  }

  .tc2020-line {
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid #ffffff;
    margin-bottom: 1px solid;
    height: 4px;
    width: 100%;
    z-index: 3;

    &.tc2020-line2 {
      top: 52%;
    }
    &.tc2020-line3 {
      top: 56%;
    }
    &.tc2020-line4 {
      top: 60%;
    }
    &.tc2020-line5 {
      top: 67%;
    }
    &.tc2020-line6 {
      top: 76%;
    }
    &.tc2020-line7 {
      top: 86%;
    }
    &.tc2020-line8 {
      top: 96%;
    }
    &.tc2020-line9 {
      top: 100%;
    }
    &.tc2020-line10 {
      top: 86%;
    }
  }
}

.tc2020-full-boni-simi {
  color: #ffffff;
  background: #000000
    url("https://arctravelconnect.com/globalassets/Home2/2020/homepage/Bonny-Simi-Photo.png")
    center center no-repeat;
  background-size: cover;
}

.tc2020-recap-body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 6;
}

.tc2020-amy-webb {
  background: url("https://arctravelconnect.com/globalassets/Home2/2020/homepage/Amy-Webb-Photo.png")
    center left no-repeat;
  background-size: contain;
}

.tc2020-assistance {
  background: #000000;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  position: relative;

  .tc2020-assistance-inner {
    max-width: 1150px;
    margin: 0 auto;
    padding: 6rem 0 2.5rem 0;
    &:before {
      position: absolute;
      top: 6px;
      left: 0;
      content: "";
      border-top: 1px solid #ffffff;
      height: 1px;
      width: 100%;
    }
  }
  .tc2020-assistance-1 {
    font-family: "TheHand-Black", Arial, Helvetica, sans-serif;
    font-size: 5rem;
    line-height: 1;
    text-transform: uppercase;
  }
  .tc2020-assistance-2 {
    font-size: 1.5rem;
  }
}

.tc2020-h2 {
  font-family: "TheHand-Black", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tc2020-omni {
  background: #000000;
  padding-top: 4rem;
  padding-bottom: 4rem;

  img {
    max-width: 800px;
  }

  .ctaBtn,
  .ctaBtn:hover {
    background: #1f43f5;
    border-color: #ffffff;
    border-radius: 0;
  }
}

.tc2020-travel-journey {
  position: relative;
  background: #000000;
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.tc2020-tj-right {
  position: absolute;
  right: -25%;
  max-width: 500px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tc2020-tj-left {
  position: absolute;
  left: -35%;
  max-width: 250px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tc2020-tj {
  position: relative;
  max-width: 800px;
  margin: 4rem auto;
}

.tc2020-tj-title {
  img {
    max-width: 500px;
  }
}

.tc2020-resources {
  font-family: "TheHand-Extra-Black", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #1f43f5;
  margin-right: 15px;
  line-height: 1;
  letter-spacing: 1px;

  strong {
    vertical-align: top;
  }
}

.tc2020-tj-body {
  max-width: 350px;
  color: #ffffff;
  line-height: 1.5;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;

  .ctaBtn,
  .ctaBtn:hover {
    background: #1f43f5;
    border-color: #ffffff;
    border-radius: 0;
  }
}

/* =========================
Survey Monkey
============================ */

.sg-question-title label {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

.sg-page-title {
  color: #ffffff;
  text-align: center !important;
}

.sg-question.sg-type-textbox {
  margin: 0 !important;
}

.sg-survey .sg-button {
  min-width: 200px !important;
  background: #1f43f5 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff;
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 0.9rem !important;
}

.sg-question {
  border: none !important;
}

.sg-question-options {
  max-width: 400px !important;
  margin: 0 auto !important;
}

.sg-survey .sg-add-another-button,
.sg-survey .sg-browse-btn,
.sg-survey .sg-button,
.sg-survey .sg-configurator-btn,
.sg-survey .sg-file-field input[type="button"] {
  margin: 0;
}

body .sg-question input[type="text"] {
  font-size: 1.2rem;
  padding: 2rem;
  color: #ffffff;
  border: none;
  background: #5a5a5a;
  border-radius: 0;
  padding: 1.5rem;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff;
  }
}

.icon-travelconnect-logo:before {
  content: "\e920" !important;
}

.postjumbotron {
  text-align: center;
  position: relative;
  color: #ffffff;

  .container {
    position: relative;
    z-index: 999;
  }

  .tcSubtitle {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .tcMaintitle {
    font-size: 4rem;
  }

  .tcDate {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    vertical-align: top;
  }

  .tcEarlybird {
    margin-top: 15px;
  }

  .tcPrice {
    display: inline-block;
    font-family: "TheHand-Black", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    vertical-align: middle;
    padding-left: 15px;
  }

  .tcFormLabel {
    display: inline-block;
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
.jumbotron--image .block-header {
  font-family: "Source Sans Pro", arial, sans-serif !important;
  font-weight: 300;
}

.ctaLink {
  font-family: SourceSansPro-Bold, arial, sans-serif !important;
  letter-spacing: normal !important;
  font-size: 1rem;
}

.sg-survey .sg-mobile-optimized .sg-question input[type="number"],
.sg-survey .sg-mobile-optimized .sg-question input[type="email"],
.sg-survey .sg-mobile-optimized .sg-question input[type="text"],
.sg-survey .sg-mobile-optimized .sg-question input[type="password"],
.sg-survey .sg-mobile-optimized .sg-question input[type="date"],
.sg-survey .sg-mobile-optimized .sg-question textarea,
.sg-survey
  .sg-mobile-optimized
  .sg-survey
  .sg-mobile-optimized
  .sg-table
  input[type="text"] {
  color: #000000 !important;
}

.icon-travelconnect-logo:before {
  content: "\e920" !important;
}

.lazyload {
  margin-bottom: 15px;
}

.contained-panel .block-header {
  margin-bottom: 30px;
  font-size: 2.25rem;
  letter-spacing: normal !important;
  text-transform: capitalize;
  font-family: SourceSansPro-Bold, arial, sans-serif !important;
}

.contained-panel p {
  line-height: 1.5;
}

.tcPhotoTimeline {
  margin-top: 30px;
}

.postjumbotron {
  z-index: 4;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

.row {
  max-width: 100% !important;
}

@media (max-width: 787px) {
  .sg-survey .sg-mobile-optimized .sg-footer {
    box-shadow: none !important;
  }
  .postjumbotron .tcMaintitle {
    font-size: 2.5rem;
  }

  .sg-survey .sg-body.sg-int-virtual-page .sg-button-bar .sg-submit-button {
    margin: 0 auto !important;
    float: none !important;
    width: 100% !important;
    max-width: 300px !important;
    font-family: SourceSansPro-Black, arial, sans-serif !important;
  }
  .sg-survey .sg-mobile-optimized .sg-button-bar {
    margin: 0 !important;
  }

  .sg-survey .sg-body.sg-int-virtual-page .sg-footer,
  .sg-survey .sg-mobile-optimized .sg-footer {
    position: relative !important;
    background: none !important;
  }
}

@media (max-width: 537px) {
  .postjumbotron .tcDate {
    font-size: 4rem;
  }
  .postjumbotron .tcMaintitle {
    font-size: 1.5rem;
  }

  .align-items-center {
    align-items: normal !important;
  }

  .tcContainer .tcSocial .hashtag {
    font-size: 1.8rem !important;
  }

  .row {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .postjumbotron {
    padding: 25px 0 !important;
  }

  .sg-survey .sg-button {
    margin: 0 !important;
  }

  .sg-survey .sg-mobile-optimized .sg-content {
    margin-bottom: 0 !important;
  }

  .sg-survey .sg-mobile-optimized .sg-question-options {
    padding: 0 !important;
  }
}

footer.travelconnect {
  background: #000000 !important;
}
